@font-face {
    font-family: 'DM Sans';
    src: url('/approval_recruitment/static/src/fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/approval_recruitment/static/src/fonts/DMSans-Bold.ttf') format('truetype');
    font-weight: bold;
}